@import '../index.css';

.home-page-div {
  width: 100%;

  margin-left: 100px;
}

.img-description{
  margin: auto;
  display: grid;
  grid-template-columns: 4fr 2.5fr;
  grid-template-rows: 1fr;
  width: 95%;
  padding-bottom: 20px;
}

.img-container{
  opacity: 0.8;
  margin: auto;
  width: 99%;
  border-radius: 10px;
  object-fit: contain; 
}

.title {
  font-size: 2.5rem;
  color: var(--text-color);
}

.text {
  font-size: 1.5rem;
  width: 95%;
  color: var(--text-color);
}

.margin {
  margin: auto;
}

.half {
  width: 50%;
}

.center {
  text-align: center;
}
