:root {
  --text-color: #EEEEEE;
  --hover-color: #76ABAE;
  --sidebar-background-color: #31363F;
  --body-background-color: #222831;
  /*	--gary: #756388; */
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: row;
  width: 100%;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
